@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fc;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px 0;
  color: white;
}
.header__logo {
  font-size: 26px;
  font-weight: 500;
}
.header__nav {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__nav .responsive-list {
  display: none;
}
.header__nav__list__item {
  display: inline-block;
  margin-right: 36px;
  font-size: 16px;
}
.header__nav__list__item a {
  display: inline-block;
  transition: color 0.5s;
}
.header__nav__list__item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.header__nav__list__item a:hover::after {
  width: 100%;
}
.header__button {
  float: right;
}
.header__button__item:first-child {
  margin-right: 30px;
}
.header .hamburger {
  float: right;
  display: none;
}
.header .hamburger img {
  vertical-align: middle;
}

.fixed {
  background-color: #313a5a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.hero-section {
  background-color: #313a5a;
  height: calc(100vh + 150px);
  color: white;
}
.hero-section .container {
  height: 100vh;
  padding-top: 90px;
  position: relative;
}
.hero-section__content {
  width: 553px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero-section__content__heading {
  font-size: 48px;
  margin: 0 0 25px 0;
}
.hero-section__content__para {
  font-size: 16px;
  margin: 0 0 50px 0;
  line-height: 2;
}
.hero-section__image {
  font-size: 0;
  text-align: left;
  float: right;
  position: relative;
  z-index: 1;
}
.hero-section__image img {
  -webkit-animation: 2s ease-in-out 0s 1 slideInFromBottom;
          animation: 2s ease-in-out 0s 1 slideInFromBottom;
  transform: translateY(100%);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  width: 331px;
  -o-object-fit: contain;
     object-fit: contain;
}
@-webkit-keyframes slideInFromBottom {
  20% {
    opacity: 0;
  }
  40% {
    transform: translateY(50%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  20% {
    opacity: 0;
  }
  40% {
    transform: translateY(50%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.benefit-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  height: 80vh;
}
.benefit-section__list {
  width: 100%;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
  background-color: white;
  padding: 60px 75px;
  font-size: 0;
  border-radius: 10px;
  position: absolute;
  bottom: 200px;
  left: 0;
  z-index: 5;
}
.benefit-section__list__item {
  width: calc(33.3333333333% - 60px);
  display: inline-block;
  margin-right: 90px;
  vertical-align: top;
}
.benefit-section__list__item__image {
  background-color: #f8f9fc;
  padding: 20px 0;
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-bottom: 25px;
  text-align: center;
}
.benefit-section__list__item__heading {
  font-size: 18px;
  margin-bottom: 25px;
  color: #031d5b;
}
.benefit-section__list__item__line {
  border: none;
  width: 60px;
  height: 4px;
  background-color: #1fdb84;
  margin-bottom: 25px;
}
.benefit-section__list__item__para {
  font-size: 16px;
  color: #5b6c94;
  line-height: 2;
}
.benefit-section__list__item:last-child {
  margin-right: 0px;
}
.benefit-section__list__item:last-child .benefit-section__list__item__image {
  padding: 23px 0;
}

.pricing-section {
  padding-top: 200px;
  text-align: center;
}
.pricing-section__heading {
  color: #031d5b;
  line-height: 1.6;
  font-size: 40px;
  text-align: center;
  margin: 0 auto 60px auto;
  width: 810px;
}
.pricing-section__btn {
  text-align: center;
  margin-bottom: 64px;
}
.pricing-section__btn__item {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
  border: solid 1px #aefdd9;
  background-color: #f1fff8;
  letter-spacing: 2px;
  font-size: 16px;
  color: #1fdb84;
}
.pricing-section__list {
  text-align: center;
}
.pricing-section__list__item {
  display: inline-block;
  padding: 55px 62px;
  width: 375px;
  min-height: 590px;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.pricing-section__list__item__heading {
  color: #031d5b;
  margin-bottom: 30px;
}
.pricing-section__list__item__para {
  color: #5b6c94;
}
.pricing-section__list__item__para:nth-of-type(1) {
  font-size: 72px;
  color: #1fdb84;
  margin-bottom: 13px;
}
.pricing-section__list__item__para:nth-of-type(2) {
  margin-bottom: 60px;
}
.pricing-section__list__item__para:nth-of-type(3) {
  margin-bottom: 15px;
}
.pricing-section__list__item__para {
  margin-bottom: 17px;
}
.pricing-section__list__item__para:nth-of-type(6) {
  margin-bottom: 50px;
}
.pricing-section__list__item .button {
  padding: 20px 45px;
  position: absolute;
  bottom: 55px;
  left: 62px;
}
.pricing-section__list .do-flip {
  transform: rotateY(-360deg);
}
.pricing-section__list .active-plan {
  background-color: white;
  border-top: 3px solid #0a8aff;
  box-shadow: 0 10px 15px rgba(83, 83, 83, 0.1);
}
.pricing-section .active-plan-duration {
  background-color: white;
}

.testimonial-one__btns {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial-one__btns label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
  transition: all 0.4s;
  margin-right: 15px;
  display: inline-block;
}
.testimonial-one__btns label:last-child {
  margin-right: 0;
}
.testimonial-one__btns label:hover {
  background-color: white;
}
.testimonial-one input {
  display: none;
}
.testimonial-one .part-three {
  width: 100%;
  position: absolute;
  bottom: 12%;
  border-radius: 6px;
  overflow-x: auto;
}
.testimonial-one .part-three__list {
  height: 435px;
  width: 1950px;
  font-size: 0;
  cursor: pointer;
  transform: translateX(20%);
  transition: all 0.5s;
}
.testimonial-one .part-three__list__item {
  width: 350px;
  height: 100%;
  margin-right: 40px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  padding: 65px 45px 60px;
}
.testimonial-one .part-three__list__item__para {
  color: #5b6c94;
  font-size: 16px;
  line-height: 2;
}
.testimonial-one .part-three__list__item__para span {
  font-weight: 600;
  color: #031d5b;
}
.testimonial-one .part-three__list__item__para:nth-child(2) {
  margin-bottom: 35px;
}
.testimonial-one .part-three__list__item img {
  margin-bottom: 20px;
}
.testimonial-one .part-three::-webkit-scrollbar {
  display: none;
}
.testimonial-one #list1:checked ~ .part-three ul {
  margin-left: 0;
}
.testimonial-one #list1:checked ~ .part-three ul #li-1 {
  background-color: #1fdb84;
}
.testimonial-one #list1:checked ~ .part-three ul #li-1 p {
  color: white;
}
.testimonial-one #list1:checked ~ .part-three ul #li-1 p span {
  color: white;
}
#list1:checked ~ .testimonial-one__btns #l-1 {
  background-color: white;
}
.testimonial-one #list2:checked ~ .part-three ul {
  margin-left: -390px;
}
.testimonial-one #list2:checked ~ .part-three ul #li-2 {
  background-color: #1fdb84;
}
.testimonial-one #list2:checked ~ .part-three ul #li-2 img:first-child {
  display: none;
}
.testimonial-one #list2:checked ~ .part-three ul #li-2 p {
  color: white;
}
.testimonial-one #list2:checked ~ .part-three ul #li-2 p span {
  color: white;
}
#list2:checked ~ .testimonial-one__btns #l-2 {
  background-color: white;
}
.testimonial-one #list3:checked ~ .part-three ul {
  margin-left: -780px;
}
.testimonial-one #list3:checked ~ .part-three ul #li-3 {
  background-color: #1fdb84;
}
.testimonial-one #list3:checked ~ .part-three ul #li-3 img:first-child {
  display: none;
}
.testimonial-one #list3:checked ~ .part-three ul #li-3 p {
  color: white;
}
.testimonial-one #list3:checked ~ .part-three ul #li-3 p span {
  color: white;
}
#list3:checked ~ .testimonial-one__btns #l-3 {
  background-color: white;
}
.testimonial-one #list4:checked ~ .part-three ul {
  margin-left: -1170px;
}
.testimonial-one #list4:checked ~ .part-three ul #li-4 {
  background-color: #1fdb84;
}
.testimonial-one #list4:checked ~ .part-three ul #li-4 img:first-child {
  display: none;
}
.testimonial-one #list4:checked ~ .part-three ul #li-4 p {
  color: white;
}
.testimonial-one #list4:checked ~ .part-three ul #li-4 p span {
  color: white;
}
#list4:checked ~ .testimonial-one__btns #l-4 {
  background-color: white;
}
.testimonial-one #list5:checked ~ .part-three ul {
  margin-left: -1550px;
}
.testimonial-one #list5:checked ~ .part-three ul #li-5 {
  background-color: #1fdb84;
}
.testimonial-one #list5:checked ~ .part-three ul #li-5 img:first-child {
  display: none;
}
.testimonial-one #list5:checked ~ .part-three ul #li-5 p {
  color: white;
}
.testimonial-one #list5:checked ~ .part-three ul #li-5 p span {
  color: white;
}
#list5:checked ~ .testimonial-one__btns #l-5 {
  background-color: white;
}

.testimonial {
  padding-top: 250px;
  height: calc(100vh + 250px);
  position: relative;
}

.part-one {
  display: inline-block;
  position: relative;
  padding-left: 40px;
}
.part-one__heading {
  position: absolute;
  top: 30px;
  left: 60px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  color: #031d5b;
}

.part-two {
  width: 810px;
  height: 100vh;
  display: inline-block;
  background-color: #313a5a;
  position: absolute;
  right: 0;
}

.testimonial-two .swiper {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
}
.testimonial-two .swiper-wrapper {
  position: absolute;
  bottom: 15%;
  max-height: 435px;
  margin-left: -100px;
}
.testimonial-two .swiper-slide {
  min-width: 350px;
  max-height: 435px;
  background: #fff;
  width: 350px;
  padding: 65px 45px 60px;
}
.testimonial-two .swiper-slide__para {
  color: #5b6c94;
  font-size: 16px;
  line-height: 2;
}
.testimonial-two .swiper-slide__para span {
  font-weight: 600;
  color: #031d5b;
}
.testimonial-two .swiper-slide__para:nth-child(2) {
  margin-bottom: 35px;
}
.testimonial-two .swiper-slide__image {
  width: 49px;
  height: 40px;
  margin-bottom: 20px;
}
.testimonial-two .swiper-pagination {
  position: relative;
  top: 90%;
}
.testimonial-two .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 3px solid white !important;
  border-radius: 50%;
  margin-right: 15px !important;
  background-color: transparent;
  opacity: 1;
}
.testimonial-two .swiper-pagination-bullet-active {
  color: #fff;
  background: white;
}
.testimonial-two .swiper-slide-active {
  background-color: #1fdb84;
}
.testimonial-two .swiper-slide-active .swiper-slide__para {
  color: white;
}
.testimonial-two .swiper-slide-active span {
  color: white;
}

.client-section {
  padding-top: 200px;
  text-align: center;
}
.client-section__image {
  vertical-align: middle;
  margin-right: 55px;
}
.client-section__image:last-child {
  margin-right: 0;
}

.footer-section {
  padding: 180px 0 100px 0;
  text-align: center;
  color: #5b6c94;
}
.footer-section__para:first-child {
  margin-bottom: 50px;
  font-size: 16px;
}
.footer-section a {
  color: #5b6c94;
  margin: 0 15px 0 15px;
  font-size: 16px;
}
.footer-section a:first-child {
  margin-left: 0;
}
.footer-section a:last-child {
  margin-right: 0;
}

.button {
  padding: 5px 24px;
  border-radius: 5px 0 5px 0;
  background-color: #1fdb84;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 25px rgba(31, 219, 132, 0.6);
}

.big-button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  padding: 20px 46px;
}

@media (max-width: 1199px) {
  .pricing-section__list {
    padding: 0 10px;
  }
  .pricing-section__list__item {
    width: 290px;
  }
  .pricing-section .button {
    padding: 10px 40px;
    position: absolute;
    bottom: 55px;
    left: 36px;
  }
  .part-one {
    width: 50%;
    padding-left: 20px;
  }
  .part-two {
    width: 50%;
  }
  .part-two__heading {
    left: 40px;
  }
  .testimonial-one__btns {
    left: 60%;
  }
  .testimonial-two .swiper-pagination {
    margin-left: 130px;
  }
  .testimonial-two .swiper-wrapper {
    margin-left: 0;
  }
}
@media (max-width: 960px) {
  .header__nav {
    margin-top: 135px;
    display: none;
    width: 100%;
    background-color: #313a5a;
    padding: 20px 0 30px 20px;
    box-shadow: 0 3px 2px -2px rgba(210, 210, 210, 0.5);
  }
  .header__nav .responsive-list {
    display: block;
  }
  .header__nav__list__item {
    display: block;
    margin-bottom: 20px;
  }
  .header__button {
    display: none;
  }
  .header .hamburger {
    display: block;
  }
  .hero-section {
    height: 200vh;
  }
  .hero-section .container {
    height: 200vh;
    position: relative;
  }
  .hero-section__content {
    text-align: center;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-section__image {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
  }
  .benefit-section__list__item {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .benefit-section__list__item__para {
    margin-bottom: 80px;
  }
  .benefit-section__list__item__line {
    margin: 0 auto 25px auto;
  }
  .benefit-section__item:last-child .benefit-section__list-item__para {
    margin-bottom: 0;
  }
  .pricing-section__heading {
    width: 100%;
  }
  .pricing-section__list {
    padding: 0 20px;
  }
  .pricing-section__list__item {
    width: 100%;
  }
  .pricing-section .button {
    padding: 20px 45px;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
  }
  .testimonial {
    height: calc(100vh + 650px);
  }
  .part-one {
    width: 100%;
    height: 400px;
    text-align: center;
    padding: 0 20px;
  }
  .part-one__heading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .part-two {
    width: 100%;
    height: 100vh;
    margin-top: 400px;
  }
  .testimonial-one__btns {
    left: 50%;
    transform: translateX(-50%);
  }
  .testimonial-one .part-three {
    bottom: 8%;
  }
  .testimonial-one .part-three__list {
    transform: translateX(15%);
  }
  .testimonial-two .swiper-pagination {
    margin: 0 auto;
  }
  .client-section__image {
    margin-bottom: 20px;
  }
}
@media (max-width: 720px) {
  .testimonial .part-three__list {
    transform: translateX(3%);
  }
  .pricing-section .button {
    width: 160px;
    padding: 20px 10px;
  }
  .client-section__image {
    margin: 0 5px 20px 5px;
  }
}/*# sourceMappingURL=main.css.map */