@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f8f9fc;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style: none;
}

.container-lg {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 20px 0;
  color: white;
}
.header__logo {
  font-size: 26px;
  font-weight: 500;
}
.header__nav {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__nav__list__item {
  display: inline-block;
  margin-right: 36px;
  font-size: 16px;
}
.header__nav__list__item a {
  display: inline-block;
  transition: color 0.5s;
}
.header__nav__list__item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.header__nav__list__item a:hover::after {
  width: 100%;
}
.header__button {
  float: right;
}
.header__button__item:first-child {
  margin-right: 30px;
}

.fixed {
  background-color: #313a5a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.hero-section {
  background-color: #313a5a;
  height: 100vh;
  color: white;
}
.hero-section .container {
  position: relative;
  height: 100%;
  padding-top: 90px;
  vertical-align: middle;
}
.hero-section__content {
  width: 553px;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.hero-section__content__heading {
  font-size: 48px;
  margin: 0 0 25px 0;
}
.hero-section__content__para {
  font-size: 16px;
  margin: 0 0 50px 0;
  line-height: 2;
}
.hero-section__image {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.benefit-section__list {
  width: 100%;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
  background-color: white;
  padding: 60px 75px;
  font-size: 0;
  border-radius: 10px;
}
.benefit-section__list__item {
  width: calc(33.3333333333% - 60px);
  display: inline-block;
  margin-right: 90px;
  vertical-align: top;
}
.benefit-section__list__item__image {
  background-color: #f8f9fc;
  padding: 20px 0;
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-bottom: 25px;
  text-align: center;
}
.benefit-section__list__item__heading {
  font-size: 18px;
  margin-bottom: 25px;
  color: #031d5b;
}
.benefit-section__list__item__line {
  border: none;
  width: 60px;
  height: 4px;
  background-color: #1fdb84;
  margin-bottom: 25px;
}
.benefit-section__list__item__para {
  font-size: 16px;
  color: #5b6c94;
  line-height: 2;
}
.benefit-section__list__item:last-child {
  margin-right: 0px;
}
.benefit-section__list__item:last-child .benefit-section__list__item__image {
  padding: 23px 0;
}

.pricing-section {
  padding-top: 200px;
  text-align: center;
}
.pricing-section__heading {
  color: #031d5b;
  line-height: 1.6;
  font-size: 40px;
  text-align: center;
  margin: 0 auto 60px auto;
  width: 810px;
}
.pricing-section__btn {
  text-align: center;
  margin-bottom: 64px;
}
.pricing-section__btn__item {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
  border: solid 1px #aefdd9;
  background-color: #f1fff8;
  letter-spacing: 2px;
  font-size: 16px;
  color: #1fdb84;
}
.pricing-section__list {
  padding: 0 20px;
}
.pricing-section__list__item {
  display: inline-block;
  padding: 55px 62px;
  width: 378px;
  min-height: 590px;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}
.pricing-section__list__item__heading {
  color: #031d5b;
  margin-bottom: 30px;
}
.pricing-section__list__item__para {
  color: #5b6c94;
}
.pricing-section__list__item__para:nth-of-type(1) {
  font-size: 72px;
  color: #1fdb84;
  margin-bottom: 13px;
}
.pricing-section__list__item__para:nth-of-type(2) {
  margin-bottom: 60px;
}
.pricing-section__list__item__para:nth-of-type(3) {
  margin-bottom: 15px;
}
.pricing-section__list__item__para {
  margin-bottom: 17px;
}
.pricing-section__list__item__para:nth-of-type(6) {
  margin-bottom: 50px;
}
.pricing-section__list__item .button {
  padding: 20px 45px;
  position: absolute;
  bottom: 55px;
  left: 62px;
}
.pricing-section__list .active-plan {
  background-color: white;
  border-top: 3px solid #0a8aff;
  box-shadow: 0 10px 15px rgba(83, 83, 83, 0.1);
}
.pricing-section .active-plan-duration {
  background-color: white;
}

.testimonials-section {
  padding-top: 250px;
  height: calc(100vh + 250px);
}
.testimonials-section__part-one {
  display: inline-block;
  position: relative;
}
.testimonials-section__part-one__heading {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  color: #031d5b;
}
.testimonials-section__part-two {
  width: 810px;
  display: inline-block;
  background-color: #313a5a;
  height: 100vh;
  position: absolute;
  right: 0;
  overflow-x: hidden;
}
.testimonials-section__part-two__list {
  height: 430px;
  width: 2000px;
  position: absolute;
  bottom: 15%;
  border-radius: 6px;
}
.testimonials-section__part-two__list__item {
  width: 350px;
  height: 100%;
  margin-right: 40px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  padding: 65px 45px 55px;
}
.testimonials-section__part-two__list__item__para {
  color: #5b6c94;
  font-size: 16px;
  line-height: 2;
}
.testimonials-section__part-two__list__item__para span {
  font-weight: 600;
  color: #031d5b;
}
.testimonials-section__part-two__list__item__para:nth-child(2) {
  margin-bottom: 35px;
}
.testimonials-section__part-two__list__item img {
  margin-bottom: 20px;
}
.testimonials-section__part-two__list .active-testimonial {
  background-color: #1fdb84;
}
.testimonials-section__part-two__list .active-testimonial p {
  color: white;
}
.testimonials-section__part-two__list .active-testimonial p span {
  color: white;
}
.testimonials-section__part-two__btns {
  position: absolute;
  bottom: 6%;
  left: 40px;
}
.testimonials-section__part-two__btns input {
  display: none;
}
.testimonials-section__part-two__btns label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
  transition: all 0.15s ease;
  margin-right: 15px;
  display: inline-block;
}
.testimonials-section__part-two__btns label:last-child {
  margin-right: 0;
}
.testimonials-section__part-two__btns label:hover {
  background-color: white;
}

.client-section {
  padding-top: 200px;
  text-align: center;
}
.client-section__image {
  vertical-align: middle;
  margin-right: 55px;
}
.client-section__image:last-child {
  margin-right: 0;
}

.footer-section {
  padding: 180px 0 100px 0;
  text-align: center;
  color: #5b6c94;
}
.footer-section__para:first-child {
  margin-bottom: 50px;
}
.footer-section a {
  color: #5b6c94;
  margin: 0 15px 0 15px;
}
.footer-section a:first-child {
  margin-left: 0;
}
.footer-section a:last-child {
  margin-right: 0;
}

.button {
  padding: 5px 24px;
  border-radius: 5px 0 5px 0;
  background-color: #1fdb84;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 25px rgba(31, 219, 132, 0.6);
}

.big-button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  padding: 20px 46px;
}/*# sourceMappingURL=main.css.map */