.footer-section {
    padding: 180px 0 100px 0;
    text-align: center;
    color: $para-color;

    &__para:first-child {
        margin-bottom: 50px;
        font-size:$text-sm;
    }

    a{
       color: $para-color;
       margin: 0 15px 0 15px;
       font-size:$text-sm;
    }

    a:first-child {
        margin-left: 0;
    }

    a:last-child {
        margin-right: 0;
    }
}