.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 20px 0;
  color: white;

  &__logo {
    font-size: 26px;
    font-weight: 500;
  }

  &__nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__list__item {
      display: inline-block;
      margin-right: 36px;
      font-size: 16px;

      a {
        display: inline-block;
        transition: color .5s;
      }

      a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width .3s;
      }

      a:hover::after {
        width: 100%;
      }
    }
  }

  &__button {
    float: right;

    &__item:first-child {
      margin-right: 30px;
    }
  }
}

.fixed {
  background-color: #313a5a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}