.hero-section{
    background-color:#313a5a;
    height:calc(100vh + 150px);
    color:white;

    .container{
         height:100vh;
         padding-top:90px;
         position: relative;
    }
    &__content{
        width:553px;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
       
        &__heading{
            font-size: 48px;
            margin:0 0 25px 0;
        }
        &__para{
            font-size:16px;
            margin:0 0 50px 0;
            line-height: 2;
        }
    }
    &__image{
       font-size:0;
       text-align: left;
       float: right;
       position:relative;
       z-index:1;

        img{
            animation: 2s ease-in-out 0s 1 slideInFromBottom;
            transform: translateY(100%);
            animation-fill-mode: forwards;
            opacity:0;
            width:331px;
            object-fit: contain;
        }

        @keyframes slideInFromBottom {
            20%{
                opacity: 0;
            }
            40% {
                transform: translateY(50%);
                opacity:0.8;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }
    }
}

