@include xl {
    .pricing-section {

        &__list {
            padding: 0 10px;

            &__item {
                width: 290px;
            }
        }

        .button {
            padding: 10px 40px;
            position: absolute;
            bottom: 55px;
            left: 36px;
        }
    }

    .testimonials-section {
        &__part-one {
            width: 50%;
        }

        &__part-two {
            width: 50%;
        }
    }
}

@include lg {
    .header {
        &__nav {
            margin-top: 135px;
            display: none;
            width: 100%;
            background-color: #313a5a;
            padding: 20px 0 30px 20px;
            box-shadow: 0 3px 2px -2px rgba(210, 210, 210, 0.5);

            .responsive-list {
                display: block;
            }
        }

        &__nav__list__item {
            display: block;
            margin-bottom: 20px;
        }

        &__button {
            display: none;
        }

        .hamburger {
            display: block;
        }
    }

    .hero-section {
        height: 200vh;

        .container {
            height: 200vh;
        }

        &__content {
            width: 100%;
            text-align: center;
            top: 45vh;
            transform: translateY(-50%)
        }

        &__image {
            display: block;
            right: 50%;
            transform: translateX(50%);
        }
    }

    .benefit-section {
        &__list__item {
            width: 100%;
            margin-right: 0;
            text-align: center;

            &__para {
                margin-bottom: 80px;
            }

            &__line {
                margin: 0 auto 25px auto;
            }

        }

        &__item:last-child {
            .benefit-section__list-item__para {
                margin-bottom: 0;
            }
        }

    }

    .pricing-section {

        &__heading {
            width: 100%;
        }

        &__list {
            padding: 0 20px;

            &__item {
                width: 100%;
            }
        }

        .button {
            padding: 20px 45px;
            position: absolute;
            bottom: 55px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .testimonials-section {
        padding-top: 200px;
        height: calc(150vh + 300px);

        &__part-one {
            width: 100%;
            height: 50vh;
            text-align: center;

            &__heading {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__part-two {
            width: 100%;
            height: 100vh;
            margin-top: 400px;

            &__btns {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__list {
            transform: translateX(10%);
        }
    }

    .client-section {
        &__image {
            margin-bottom: 20px;
        }
    }

}

@include md {
    .testimonials-section {

        &__list {
            transform: translateX(3%);
        }

        &__part-two__btns {
            display: none;
        }
    }

    .pricing-section {
        .button {
            width: 160px;
            padding: 20px 10px;
        }
    }

    .client-section {
        &__image {
            margin: 0 5px 20px 5px;
        }
    }
}