.testimonial-one {
  &__btns {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;


    label {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid white;
      cursor: pointer;
      transition: all 0.4s;
      margin-right: 15px;
      display: inline-block;
    }

    label:last-child {
      margin-right: 0;
    }

    label:hover {
      background-color: white;
    }
  }


  input {
    display: none;
  }


  .part-three {
    width: 100%;
    position: absolute;
    bottom: 12%;
    border-radius: 6px;
    overflow-x: auto;

    &__list {
      height: 435px;
      width: 1950px;
      font-size: 0;
      cursor: pointer;
      transform: translateX(20%);
      transition: all 0.5s;

      &__item {
        width: 350px;
        height: 100%;
        margin-right: 40px;
        background-color: white;
        display: inline-block;
        vertical-align: top;
        padding: 65px 45px 60px;

        &__para {
          color: $para-color;
          font-size: $text-sm;
          line-height: 2;

          span {
            font-weight: 600;
            color: $heading-color;
          }
        }

        &__para:nth-child(2) {
          margin-bottom: 35px;
        }

        img {
          margin-bottom: 20px;
        }
      }
    }

  }

  .part-three::-webkit-scrollbar {
    display: none;
  }

  #list1:checked~.part-three ul {
    margin-left: 0;

    #li-1 {
      background-color: #1fdb84;

      p {
        color: white;

        span {
          color: white;
        }
      }
    }
  }

  #list1:checked~&__btns {
    #l-1 {
      background-color: white;
    }
  }

  #list2:checked~.part-three ul {
    margin-left: -390px;

    #li-2 {
      background-color: #1fdb84;

      img:first-child{
        display: none;
      }

      p {
        color: white;

        span {
          color: white;
        }
      }
    }
  }

  #list2:checked~&__btns {
    #l-2 {
      background-color: white;
    }
  }

  #list3:checked~.part-three ul {
    margin-left: -780px;

    #li-3 {
      background-color: #1fdb84;

      
      img:first-child{
        display: none;
      }

      p {
        color: white;

        span {
          color: white;
        }
      }
    }
  }

  #list3:checked~&__btns {
    #l-3 {
      background-color: white;
    }
  }

  #list4:checked~.part-three ul {
    margin-left: -1170px;

    #li-4 {
      background-color: #1fdb84;

      
      img:first-child{
        display: none;
      }

      p {
        color: white;

        span {
          color: white;
        }
      }
    }
  }

  #list4:checked~&__btns {
    #l-4 {
      background-color: white;
    }
  }

  #list5:checked~.part-three ul {
    margin-left: -1550px;

    #li-5 {
      background-color: #1fdb84;

      
      img:first-child{
        display: none;
      }

      p {
        color: white;

        span {
          color: white;
        }
      }

    }

  }

  #list5:checked~&__btns {
    #l-5 {
      background-color: white;
    }
  }
}