.testimonials-section {
  padding-top: 250px;
  height: calc(100vh + 250px);
  position: relative;
  overflow-x: hidden;
  scroll-behavior:smooth;

  &__part-one {
    display: inline-block;
    position: relative;
    padding-left: 20px;

    &__heading {
      position: absolute;
      top: 30px;
      left: 40px;
      font-size: $text-lg;
      font-weight: 600;
      line-height: 1.2;
      color: $heading-color;
    }

  }

  &__part-two {
    width: 810px;
    height: 100vh;
    display: inline-block;
    background-color: #313a5a;
    position: absolute;
    right: 0;

    &__btns {
      position: absolute;
      bottom: 6%;
      left: 40px;

      label {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid white;
        cursor: pointer;
        transition: 0.4s;
        margin-right: 15px;
        display: inline-block;
      }

      label:last-child {
        margin-right: 0;
      }

      label:hover {
        background-color: white;
      }
    }
  }

  &__part-three{
    width:100%;
    position: absolute;
    bottom: 10%;
    border-radius: 6px;
    overflow-x:auto;
  }
  &__part-three::-webkit-scrollbar {
    display: none;
}

  input {
    display: none;
  }

  &__list {
    height: 435px;
    width:1950px;
    font-size: 0;
    cursor:pointer;
    transform: translateX(20%);

    &__item {
      width: 350px;
      height: 100%;
      margin-right: 40px;
      background-color: white;
      display: inline-block;
      vertical-align: top;
      padding: 65px 45px 60px;

      &__para {
        color: $para-color;
        font-size: $text-sm;
        line-height: 2;

        span {
          font-weight: 600;
          color: $heading-color;
        }
      }

      &__para:nth-child(2) {
        margin-bottom: 35px;
      }

      img {
        margin-bottom: 20px;
      }
    }
  }

  #list1:checked ~ ul {
    margin-left: 0;

    #li-1 {
      background-color: #1fdb84;

      p {
        color: white;

        span {
          color: white;
        }
      }
    }
  }

  #list2:checked ~ ul {
    margin-left: -390px;

    #li-2 {
      background-color: #1fdb84;

      p {
        color: white;

        span {
          color: white;
        }
      }
    }
  }

  #list3:checked ~ ul {
    margin-left: -780px;

    #li-3 {
      background-color: #1fdb84;

      p {
        color: white;

        span {
          color: white;
        }
      }
    }
  }

  #list4:checked ~ ul {
    margin-left: -1170px;

    #li-4 {
      background-color: #1fdb84;

      p {
        color: white;

        span {
          color: white;
        }
      }
    }
  }

  #list5:checked ~ ul {
    margin-left: -1550px;

    #li-5 {
      background-color: #1fdb84;

      p {
        color: white;

        span {
          color: white;
        }
      }

    }

  }
}