.testimonials-section {
  padding-top: 250px;
  height:calc(100vh + 250px);


  &__part-one {
    display: inline-block;
    position: relative;

    &__heading {
      position: absolute;
      top: 30px;
      left: 20px;
      font-size: $text-lg;
      font-weight: 600;
      line-height: 1.2;
      color: $heading-color;
    }

  }

  &__part-two {
    width: 810px;
    display: inline-block;
    background-color: #313a5a;
    height: 100vh;
    position: absolute;
    right: 0;
    overflow-x:hidden;

    &__list {
      height: 430px;
      width: 2000px;
      position: absolute;
      bottom:16%;
      border-radius: 6px;

      &__item {
        width: 350px;
        height: 100%;
        margin-right: 40px;
        background-color: white;
        display: inline-block;
        vertical-align: top;
        padding:70px 45px 60px;

        &__para{
          color:$para-color;
          font-size:$text-sm;
          line-height: 2;
        }
        &__para:nth-child(2){
          margin-bottom:40px;
        }
      }
      
      .active-testimonial{
        background-color: #1fdb84;
        
        p{
          color:white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
      }
      }
    }
    &__btns{
      position: absolute;
      bottom:8%;
      left:40px;

      input{
        display:none;
      }
      label{
        width:20px;
        height:20px;
        border-radius:50%;
        border:3px solid white;
        cursor: pointer;
        transition: all 0.15s ease;
        margin-right:15px;
        display:inline-block;
     }
      label:last-child{
        margin-right:0;
      }
      label:hover{
        background-color:white;
      }
    }
  }
}