@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    font-family: 'Rubik', sans-serif;
    background-color:#f8f9fc;
}

a{
    text-decoration:none;
    color:white;
}

ul li{
    list-style:none;
}

